// Color variables
$card-background: #ffffff;
$text-color: #222;
$primary-color: #007aff;
$border-radius: 12px;

.favoriteList{
  margin-top: 10px;
}
.header{
  display: flex;
  flex-direction: row;
}

